In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [4]:
train = pd.read_csv('train.csv')

In [5]:
train.shape

(1460, 81)

## Treating Missing Values

In [10]:
cm = sns.light_palette("pink", as_cmap=True)
train.head(20).style.background_gradient(cmap=cm)

In [11]:
isnull = train.isnull().sum().sort_values(ascending=False).to_frame()
isnull.columns = ['How_many']
isnull['precentage'] = np.around(((isnull / len(train) * 100)[(isnull / len(train) * 100) != 0]), decimals=2)
isnull[isnull.How_many > 0].style.background_gradient(cmap=cm)

### replace the null values in numeric columns with the mean of that column

#### LotFrontage column

In [16]:
train["LotFrontage"].isnull().sum()

259

In [17]:
train['LotFrontage'].fillna(int(train['LotFrontage'].mean()), inplace=True)

In [18]:
train["LotFrontage"].isnull().sum()

0

#### GarageYrBlt column

In [19]:
train["GarageYrBlt"].isnull().sum()

81

In [22]:
train['GarageYrBlt'].fillna(int(train['GarageYrBlt'].mean()), inplace=True)

In [23]:
train["GarageYrBlt"].isnull().sum()

0

### drop null values in the columns that has a total number of missing data > 5

In [29]:
number_of_missing = train.isnull().sum().sort_values()
percent_of_missing = ((train.isnull().sum() / train.isnull().count())*100).sort_values()
missing_train_df = pd.concat([number_of_missing,  percent_of_missing], keys = ['total number of missing data', 'total percent of missing data'], axis = 1)
train = train.drop((missing_train_df[missing_train_df['total number of missing data'] > 5]).index, axis = 1)
train.isnull().sum().sort_values(ascending = False)

Electrical      1
CentralAir      0
1stFlrSF        0
2ndFlrSF        0
LowQualFinSF    0
               ..
BsmtFinSF1      0
BsmtFinSF2      0
BsmtUnfSF       0
TotalBsmtSF     0
SalePrice       0
Length: 65, dtype: int64

### the columns that has <5 null values, we choose the most repeated value and fill the missing data with it

In [31]:
train['Electrical'].value_counts()

SBrkr    1334
FuseA      94
FuseF      27
FuseP       3
Mix         1
Name: Electrical, dtype: int64

In [32]:
train['Electrical'].fillna(train['Electrical'].value_counts().index[0], inplace = True)

## which feature has the maximum correlation with the Sale Price of the house?

In [41]:
max = 0
x=0
for i in train.select_dtypes(include=np.number).drop(['SalePrice'],axis=1).columns:
    if (train[i].corr(train['SalePrice'])) > max:
        max = train[i].corr(train['SalePrice'])
        x = i
print("The column which has the maximum correlation with the SalePrice is: {0}" .format(x))

The column which has the maximum correlation with the SalePrice is: OverallQual

## Unique value in each columns

In [43]:
arr=[]
for i in train.columns:
    arr.append(len(train[i].value_counts()))
value_counts_df = pd.concat([pd.Series(train.columns), pd.Series(arr)], keys = ['column name', 'number of unique values in that column'], axis = 1)

value_counts_df

      column name  number of unique values in that column
0              Id                                    1460
1      MSSubClass                                      15
2        MSZoning                                       5
3     LotFrontage                                     110
4         LotArea                                    1073
..            ...                                     ...
60         MoSold                                      12
61         YrSold                                       5
62       SaleType                                       9
63  SaleCondition                                       6
64      SalePrice                                     663

[65 rows x 2 columns]

In [44]:
value_counts_df.sort_values('number of unique values in that column').head(23)

     column name  number of unique values in that column
33    CentralAir                                       2
5         Street                                       2
8      Utilities                                       2
42      HalfBath                                       3
52    PavedDrive                                       3
40  BsmtHalfBath                                       3
10     LandSlope                                       3
45   KitchenQual                                       4
24     ExterQual                                       4
48    Fireplaces                                       4
39  BsmtFullBath                                       4
7    LandContour                                       4
6       LotShape                                       4
44  KitchenAbvGr                                       4
41      FullBath                                       4
61        YrSold                                       5
25     ExterCond                                       5
34    Electrical                                       5
32     HeatingQC                                       5
50    GarageCars                                       5
2       MSZoning                                       5
9      LotConfig                                       5
14      BldgType                                       5

## what is the relation between Overall material and finish quality, sale price depending on Overall condition rating?